<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/index-styles.css" />
  </head>
  <body>
    <div id="login">
      <h1 align="center">
        <strong>Здравствуйте.</strong>
        <br />Пожалуйста, авторизуйтесь
      </h1>

      <form action="main" method="post">
        <fieldset>
          <p>
            <input
              type="text"
              name="username"
              required
              placeholder="Имя пользователя"
            />
          </p>
          <p>
            <input type="text" name="password" required placeholder="Пароль" />
          </p>
          <p><input type="submit" value="Войти" /></p>
        </fieldset>
      </form>
    </div>
  </body>
</html>
