<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>{{ res.text }}</h1>
    <form action="/schedule" method="post" enctype="multipart/form-data">
      <input
        type="file"
        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
        id="schedule"
        name="file"
      />
      <button type="submit">Загрузить</button>
    </form>
    <!-- {% if 'Ошибка' in name %}
    <div style="color: red">{{ name }}</div>
    {% else %} -->
    <!-- {% endif %} -->
  </body>
</html>
