<html>
  <head>
    <script
      type="text/javascript"
      async=""
      src="https://www.gstatic.com/recaptcha/releases/1h-hbVSJRMOQsmO_2qL9cO0z/recaptcha__ru.js"
      crossorigin="anonymous"
      integrity="sha384-Wg8FYwKKMv0/wwtVjLTZlSk5mSkv6OXDuXulTeqPBAj5mnVqONRUjAFBvgXq3YFo"
    ></script>
    <script
      src="https://www.google.com/recaptcha/api.js"
      async=""
      defer=""
    ></script>
    <script>
      function onSubmit(token) {
        document.getElementById("nobot").submit();
      }
    </script>
  </head>
  <body>
    <form id="nobot" method="POST">
      <div>
        <div
          class="grecaptcha-badge"
          data-style="bottomright"
          style="
            width: 256px;
            height: 60px;
            display: block;
            transition: right 0.3s ease 0s;
            position: fixed;
            bottom: 14px;
            right: -186px;
            box-shadow: gray 0px 0px 5px;
            border-radius: 2px;
            overflow: hidden;
          "
        >
          <div class="grecaptcha-logo">
            <iframe
              title="reCAPTCHA"
              src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6Lcfj4wgAAAAANzUAP5brHCTT3XVcm6itOcmK-CP&amp;co=aHR0cHM6Ly93d3cucy12ZnUucnU6NDQz&amp;hl=ru&amp;v=1h-hbVSJRMOQsmO_2qL9cO0z&amp;size=invisible&amp;cb=zc5wqkijenu2"
              width="256"
              height="60"
              role="presentation"
              name="a-v5ehaawcqzq6"
              frameborder="0"
              scrolling="no"
              sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"
            ></iframe>
          </div>
          <div class="grecaptcha-error"></div>
          <textarea
            id="g-recaptcha-response"
            name="g-recaptcha-response"
            class="g-recaptcha-response"
            style="
              width: 250px;
              height: 40px;
              border: 1px solid rgb(193, 193, 193);
              margin: 10px 25px;
              padding: 0px;
              resize: none;
              display: none;
            "
          ></textarea>
        </div>
        <iframe style="display: none"></iframe>
      </div>
      <button
        class="g-recaptcha"
        data-sitekey="6Lcfj4wgAAAAANzUAP5brHCTT3XVcm6itOcmK-CP"
        data-callback="onSubmit"
      >
        <font size="+20">Continue/Продолжить</font>
      </button>
    </form>
    <a href="map.html">map</a>

    <div
      style="
        visibility: hidden;
        position: absolute;
        width: 100%;
        top: -10000px;
        left: 0px;
        right: 0px;
        transition: visibility 0s linear 0.3s, opacity 0.3s linear 0s;
        opacity: 0;
      "
    >
      <div
        style="
          width: 100%;
          height: 100%;
          position: fixed;
          top: 0px;
          left: 0px;
          z-index: 2000000000;
          background-color: rgb(255, 255, 255);
          opacity: 0.5;
        "
      ></div>
      <div
        style="
          margin: 0px auto;
          top: 0px;
          left: 0px;
          right: 0px;
          position: absolute;
          border: 1px solid rgb(204, 204, 204);
          z-index: 2000000000;
          background-color: rgb(255, 255, 255);
          overflow: hidden;
        "
      >
        <iframe
          title="текущую проверку reCAPTCHA можно пройти в течение ещё двух минут"
          src="https://www.google.com/recaptcha/api2/bframe?hl=ru&amp;v=1h-hbVSJRMOQsmO_2qL9cO0z&amp;k=6Lcfj4wgAAAAANzUAP5brHCTT3XVcm6itOcmK-CP"
          name="c-v5ehaawcqzq6"
          frameborder="0"
          scrolling="no"
          sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"
          style="width: 100%; height: 100%"
        ></iframe>
      </div>
    </div>
  </body>
</html>
