<input
  type="hidden"
  name="data"
  value="ИМИ|010301_22_1ФИЦЭ.plx|01.03.01|7915|ИМИ-Б-М-22|2|1|2022|2|6581|03|6581|1|очная"
/><input type="hidden" name="id_group" value="01.03.01|7915|2" /><input
  type="hidden"
  name="filename"
  value="010301_22_1ФИЦЭ.plx"
/><input type="hidden" name="global_semestr" value="2022" /><input
  type="hidden"
  name="semestr"
  value="ИМИ-Б-М-22"
/><input type="hidden" name="course" value="2" /><input
  type="hidden"
  name="fac"
  value="ИМИ"
/><input type="hidden" name="year" value="1" /><input
  type="hidden"
  name="form"
  value="6581"
/><input type="hidden" name="formshort" value="6581" />
<div class="alert alert-warning">
  У вас ничего нету в списке, поэтому нечего публиковать select
  concat(K,'(',L,')') as aud,concat(T.B, case chet when 0 then '' when 1 then
  '*' when 2 then '**' end,' с ',DATE_FORMAT(T.C,'%d.%m'),' по ',
  DATE_FORMAT(T.D,'%d.%m'), '
  [',DATE_FORMAT(T.F,'%H:%i'),'-',DATE_FORMAT(T.G,'%H:%i'),']') as block1,T.*
  from students.temp_rasp T where T.J>0 and T.A='7915' and
  C>=STR_TO_DATE('2-01-01','%Y-%m-%d') and D<STR_TO_DATE('2-09-01','%Y-%m-%d')
</div>
