Семестр 1
<hr />
<select name="groupname">
  <optgroup label="Есть расписание">
    <option value="09.03.01|7618|ИМИ-Б-ИВТ-21-1|5954">
      (18.10 15:32) - ИМИ-Б-ИВТ-21-1(09.03.01-Технологии разработки программного
      обеспечения) -4 г. (20)
    </option>
    <option value="01.03.01|7468|ИМИ-Б-М-21|5996">
      (24.10 12:09) - ИМИ-Б-М-21(01.03.01-Математика) -4 г. (10)
    </option>
    <option value="02.03.02|7471|ИМИ-Б-ФИИТ-21|5998">
      (19.09 11:33) - ИМИ-Б-ФИИТ-21(02.03.02-Фундаментальная информатика и
      информационные технологии) -4 г. (21)
    </option>
    <option value="09.03.01|7619|ИМИ-Б-ИВТ-21-2|5999">
      (19.09 11:17) - ИМИ-Б-ИВТ-21-2(09.03.01-Технологии разработки программного
      обеспечения) -4 г. (21)
    </option>
    <option value="11.03.02|7467|ИМИ-Б-ИТСС-21|6003">
      (16.09 11:30) - ИМИ-Б-ИТСС-21(11.03.02-Инфокоммуникационные технологии и
      системы связи) -4 г. (18)
    </option>
    <option value="44.03.01|7469|ИМИ-Б-МПО-21|6004">
      (15.09 12:51) - ИМИ-Б-МПО-21(44.03.01-Математика) -4 г. (13)
    </option>
    <option value="44.03.05|7470|ИМИ-Б-ПОИМ-21|6005">
      (18.10 15:16) - ИМИ-Б-ПОИМ-21(44.03.05-Информатика и математика) -5 л.
      (13)
    </option>
    <option value="09.03.03|7856|ИМИ-Б-ПИГМУ-21|6406">
      (27.09 14:13) - ИМИ-Б-ПИГМУ-21(09.03.03-Прикладная информатика в
      государственном и муниципальном управлении) -4 г. (18)
    </option>
    <option value="09.03.03|7855|ИМИ-Б-ПИЭ-21|6407">
      (27.09 14:14) - ИМИ-Б-ПИЭ-21(09.03.03-Прикладная информатика в экономике)
      -4 г. (19)
    </option>
    <option value="01.03.02|7623|ИМИ-Б-ПМИ-21|6724">
      (24.10 12:10) - ИМИ-Б-ПМИ-21(01.03.02-Прикладная математика и информатика)
      -4 г. (28)
    </option>
  </optgroup></select
><button
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#Modalrup"
  onclick="choicerup()"
>
  Подобрать РУП
</button>
