<!DOCTYPE html>
<html>
  <head>
    <title>Северо-Восточный федеральный университет</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <link
      href="/raspisanie/css/bootstrap.min.css"
      rel="stylesheet"
      media="screen"
    />
    <script src="/raspisanie/js/jquery.js"></script>
    <script src="/raspisanie/js/bootstrap.min.js"></script>
    <script
      src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"
      type="text/javascript"
    ></script>
    <link
      href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css"
      type="text/css"
      data-template-style="true"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="jquery-ui.min.css" type="text/css" />
    <style>
      .ui-autocomplete {
        z-index: 2147483647;
        height: 150px;
        overflow-y: scroll;
        overflow-x: hidden;
      }
    </style>
    <script type="text/javascript" src="jquery-ui.min.js"></script>
    <link
      href="context-menu-icons.eot"
      type="application/vnd.ms-fontobject"
      data-template-style="true"
      rel="stylesheet"
    />
    <link
      href="//cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.0.1/jquery.contextMenu.min.css"
      type="text/css"
      data-template-style="true"
      rel="stylesheet"
    />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.0.1/jquery.contextMenu.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.0.1/jquery.ui.position.min.js"></script>
    <script src="checkmobile.js"></script>
    <style>
      input.edit {
        width: 50%;
        height: 10%;
        font: bold 1.2em Arial, sans-serif;
        color: #0d3967;
        background-color: #cad5e2;
        text-shadow: #cad5ff 1px 1px 0;
      }
    </style>
  </head>
  <body>
    <h3>Редактор расписания (версия 2.0)</h3>
    <div class="navbar">
      <div class="navbar-inner">
        <a
          class="btn btn-navbar"
          data-toggle="collapse"
          data-target=".nav-collapse"
          href="#"
        >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">s-vfu.ru</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><a href="#" id="Help">?</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                >Расписание<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/user/rasp/video.php">Новости и видеоинструкции</a>
                </li>
                <li><a href="#" id="Statistic">Статистика</a></li>
                <li><a href="#" id="Excel">Создать печатный вариант</a></li>
                <li><a href="/user/rasp/makeexcel.php?fac=ИМИ">Шахматка</a></li>
                <li>
                  <a href="/user/report/raspisanie/" target="_blank"
                    >Расписание всего университета</a
                  >
                </li>

                <li>
                  <a href="//s-vfu.ru/raspisanie/" target="_blank"
                    >s-vfu.ru/raspisanie</a
                  >
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                >Почасовик<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#" id="Listhours">Список почасовиков</a></li>
                <li>
                  <a href="/user/ved/poisk.php" target="_blank"
                    >Добавить почасовика</a
                  >
                </li>
                <li>
                  <a href="#" id="Addhours"
                    >Добавить почасовика, если не найден в первых двух
                    ссылках</a
                  >
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                >Доп.функционал<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#" id="AddCabinet">Справочник аудиторий</a></li>
                <li><a href="#" id="AddGroups">Работа с группами</a></li>
                <li>
                  <a href="/user/report/plany/" target="_blank"
                    >Рупы всего университета(для сверки)</a
                  >
                </li>
                <li>
                  <a href="/user/control/?o=group" target="_blank"
                    >Добавление группы для регистрации первокурсников ЭИОС</a
                  >
                </li>
              </ul>
            </li>
            <li><a href="#" id="Help"></a></li>
            <li><a href="#" id="Help"></a></li>
            <li><a href="#" id="Help"></a></li>
            <li><a href="#" id="Help"></a></li>
          </ul>
        </div>
        <!-- /.nav-collapse -->
      </div>
      <!-- /navbar-inner -->
    </div>
    <!-- /navbar -->
    <div class="alert alert-warning">
      <font color="red"
        ><strong
          >Предварительные ГРУППЫ создаются в платформе
          <a href="/user/control/?o=group">Перейти в MyRoute</a></strong
        ></font
      ><br />
      <u
        >Добавлено копирование данных с группы на группу,
        <a href="/user/rasp/video.php">подробнее тут</a></u
      >. Внимание при смене года уже автоматически считает семестр - пригодится
      для дисциплин старых годов. Шаблон для работы с
      <a href="/user/rasp/macro.xla">Excel</a>
      <a href="/user/rasp/archive.php"> старым форматом ведомостей</a> Весь
      функционал по работе с загрузке проверке Excel файлов перенесен в
      Доп.функции - Работа с Группами - фильтры влияют на вывод результата при
      выборе этого пункта
    </div>

    <input
      type="text"
      class="edit"
      name="url"
      value="/universitet/rukovodstvo-i-struktura/instituty/imi/Vremennoe_raspisanie_IMI_na_1_2020-2021/"
    /><button id="updateurl">
      Обновить ссылку на первой странице сайта "Расписание"</button
    ><br />УЧП:ИМИ
    <form>
      <table>
        <tr>
          <td>Учебный год:</td>
          <td>
            <select name="year">
              <option value="2022">2022/2023</option>
              <option value="2021">2021/2022</option>
              <option value="2020">2020/2021</option>
              <option value="2019">2019/2020</option>
              <option value="2018">2018/2019</option>
              <option value="2017">2017/2018</option>
              <option value="2016">2016/2017</option>
              <option value="2023">2023/2024</option>
            </select>
          </td>
        </tr>

        <tr>
          <td><b>Курс:</b></td>
          <td>
            <select name="course" id="course">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="99">1(предварительный)</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Форма обучения:</td>
          <td>
            <select name="form" id="studyform">
              <option value="1|очная">Очная</option>
              <option value="7|очно-заочная">Очно-заочная</option>
              <option value="2|заочная">заочная</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Уровень:</td>
          <td>
            <select name="code" id="code">
              <option value="3">Бакалавриат</option>
              <option value="4">Магистратура</option>
              <option value="5">Специалитет</option>
              <option value="6">Аспирантура</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><b>Семестр*</b></td>
          <td>
            <select name="semestr" id="semestr">
              <option value="2">Весенний(09.01-30.06)</option>
              <option value="1">Зимний(01.09-31.12)</option>
            </select>
          </td>
        </tr>
      </table>
      <!--button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal3" onclick="help()">?</button-->
      <!--button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal3" onclick="listhours()">Справочник почасовиков своего факультета</button-->
      <!--button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modalrup" onclick="addhours('ИМИ')">Добавить почасовика</button-->
      <button
        type="button"
        class="btn btn-primary"
        onclick="loadgroup('loadgroup')"
      >
        Шаг 1 Выбрать группы и план</button
      ><br />
    </form>
    <input type="hidden" name="fac" value="ИМИ" /><input
      type="hidden"
      name="buid"
      value="2902"
    />
    <div id="show">
      ---1----2022
      <h4>
        Заполнение расписания ИМИ для плана 010301_22_1ФИЦЭ.plx, учебной группы
        - ИМИ-Б-М-22, курс 1 семестр 2 ( учебный год 2022/2023)
      </h4>
      <input
        type="hidden"
        name="data"
        value="ИМИ|010301_22_1ФИЦЭ.plx|7915|ИМИ-Б-М-22|2|1|2022|2|6581|03|6581|1"
      /><br /><button
        type="button"
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#Modalrup"
        onclick="Addrow()"
      >
        Шаг 2. Добавить строку
      </button>
      <button
        type="button"
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#Modalrup"
        onclick="Save()"
      >
        Шаг 3. Сохранить (Публикация)
      </button>
      <table id="mytable" class="display" border="1">
        <thead>
          <tr>
            <th>Когда</th>
            <th>Кто и что</th>
            <th>Где</th>
            <th>Комментарии</th>
          </tr>
        </thead>
        <tbody class="contentmenu">
          <tr>
            <td id="A-665056">ПОНЕДЕЛЬНИК с 25.01 по 14.06 [08:00-09:35]</td>
            <td id="B-665056">Иностранный язык (практика) -нет</td>
            <td id="C-665056">353(КФЕН)</td>
            <td id="D-665056"></td>
          </tr>
          <tr>
            <td id="A-665061">ПОНЕДЕЛЬНИК с 25.01 по 14.06 [09:50-11:25]</td>
            <td id="B-665061">
              Введение в сквозные цифровые технологии (Лабораторная работа)
              -Акимов М. П.
            </td>
            <td id="C-665061">430(КФЕН)</td>
            <td id="D-665061"></td>
          </tr>
          <tr>
            <td id="A-665062">ПОНЕДЕЛЬНИК* с 25.01 по 14.06 [11:40-13:15]</td>
            <td id="B-665062">
              Введение в сквозные цифровые технологии (лекция) -Акимов М. П.
            </td>
            <td id="C-665062">330(КФЕН)</td>
            <td id="D-665062"></td>
          </tr>
          <tr>
            <td id="A-665057">ВТОРНИК с 25.01 по 14.06 [08:00-09:35]</td>
            <td id="B-665057">Иностранный язык (практика) -нет</td>
            <td id="C-665057">353(КФЕН)</td>
            <td id="D-665057"></td>
          </tr>
          <tr>
            <td id="A-665063">ВТОРНИК с 25.01 по 14.06 [09:50-11:25]</td>
            <td id="B-665063">Программирование (лекция) -Григорьев В. В.</td>
            <td id="C-665063">330(КФЕН)</td>
            <td id="D-665063"></td>
          </tr>
          <tr>
            <td id="A-665064">ВТОРНИК с 25.01 по 14.06 [11:40-13:15]</td>
            <td id="B-665064">
              Программирование (Лабораторная работа) -Григорьев В. В.
            </td>
            <td id="C-665064">424(КФЕН)</td>
            <td id="D-665064"></td>
          </tr>
          <tr>
            <td id="A-665058">СРЕДА с 25.01 по 14.06 [08:00-09:35]</td>
            <td id="B-665058">Иностранный язык (практика) -нет</td>
            <td id="C-665058">353(КФЕН)</td>
            <td id="D-665058"></td>
          </tr>
          <tr>
            <td id="A-665073">СРЕДА с 09.01 по 30.06 [09:50-11:25]</td>
            <td id="B-665073">
              Математический анализ (лекция, практика) -Шарин Е. Ф.
            </td>
            <td id="C-665073">326(КФЕН)</td>
            <td id="D-665073"></td>
          </tr>
          <tr>
            <td id="A-665074">СРЕДА с 09.01 по 30.06 [11:40-13:15]</td>
            <td id="B-665074">
              Элективные дисциплины по физической культуре и спорту (практика)
              -Протодьяконова М. Н.
            </td>
            <td id="C-665074">Спортивный(Юность)</td>
            <td id="D-665074"></td>
          </tr>
          <tr>
            <td id="A-665059">ЧЕТВЕРГ с 25.01 по 14.06 [08:00-09:35]</td>
            <td id="B-665059">Иностранный язык (практика) -нет</td>
            <td id="C-665059">353(КФЕН)</td>
            <td id="D-665059"></td>
          </tr>
          <tr>
            <td id="A-665077">ЧЕТВЕРГ с 09.01 по 30.06 [09:50-11:25]</td>
            <td id="B-665077">
              Аналитическая геометрия (лекция) -Никитина Е. С.
            </td>
            <td id="C-665077">353(КФЕН)</td>
            <td id="D-665077"></td>
          </tr>
          <tr>
            <td id="A-665079">ЧЕТВЕРГ с 09.01 по 30.06 [11:40-13:15]</td>
            <td id="B-665079">
              Аналитическая геометрия (Лабораторная работа) -Никитина Е. С.
            </td>
            <td id="C-665079">353(КФЕН)</td>
            <td id="D-665079"></td>
          </tr>
          <tr>
            <td id="A-665080">ЧЕТВЕРГ с 25.01 по 14.06 [11:40-13:15]</td>
            <td id="B-665080">Программирование (практика) -Григорьев В. В.</td>
            <td id="C-665080">424(КФЕН)</td>
            <td id="D-665080"></td>
          </tr>
          <tr>
            <td id="A-665060">ПЯТНИЦА с 25.01 по 14.06 [08:00-09:35]</td>
            <td id="B-665060">Иностранный язык (практика) -нет</td>
            <td id="C-665060">353(КФЕН)</td>
            <td id="D-665060"></td>
          </tr>
          <tr>
            <td id="A-665082">ПЯТНИЦА с 09.01 по 30.06 [09:50-11:25]</td>
            <td id="B-665082">Математический анализ (лекция) -Шарин Е. Ф.</td>
            <td id="C-665082">326(КФЕН)</td>
            <td id="D-665082"></td>
          </tr>
          <tr>
            <td id="A-665083">ПЯТНИЦА с 09.01 по 30.06 [11:40-13:15]</td>
            <td id="B-665083">Математический анализ (практика) -Шарин Е. Ф.</td>
            <td id="C-665083">326(КФЕН)</td>
            <td id="D-665083"></td>
          </tr>
          <tr>
            <td id="A-665086">ПЯТНИЦА с 09.01 по 30.06 [14:00-15:35]</td>
            <td id="B-665086">Алгебра (лекция) -нет</td>
            <td id="C-665086">353(КФЕН)</td>
            <td id="D-665086"></td>
          </tr>
          <tr>
            <td id="A-665087">ПЯТНИЦА с 09.01 по 30.06 [15:50-17:25]</td>
            <td id="B-665087">Алгебра (практика) -нет</td>
            <td id="C-665087">353(КФЕН)</td>
            <td id="D-665087"></td>
          </tr>
          <tr>
            <td id="A-676841">СУББОТА с 09.01 по 30.06 [09:50-11:25]</td>
            <td id="B-676841">
              Основы проектной деятельности (лекция, практика) -нет
            </td>
            <td id="C-676841">353(КФЕН)</td>
            <td id="D-676841"></td>
          </tr>
          <tr>
            <td id="A-676842">СУББОТА с 09.01 по 30.06 [09:50-11:25]</td>
            <td id="B-676842">
              Основы проектной деятельности (лекция, практика) -нет
            </td>
            <td id="C-676842">353(КФЕН)</td>
            <td id="D-676842"></td>
          </tr>
          <tr>
            <td id="A-665076">СУББОТА с 09.01 по 30.06 [11:40-13:15]</td>
            <td id="B-665076">
              Элективные дисциплины по физической культуре и спорту (практика)
              -Протодьяконова М. Н.
            </td>
            <td id="C-665076">Спортивный(Юность)</td>
            <td id="D-665076"></td>
          </tr>
        </tbody>
      </table>
      <button
        type="button"
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#Modalrup"
        onclick="Addrow()"
      >
        Шаг 2. Добавить строку
      </button>
      <button
        type="button"
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#Modalrup"
        onclick="Save()"
      >
        Шаг 3.Сохранить (Публикация)
      </button>
    </div>
    <div
      class="modal fade"
      id="myModal3"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="rup">Подождите.....</div>
          <div class="modal-header">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Закрыть
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="Modalrup"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form method="POST" enctype="multipart/form-data">
            <div class="modal-body" id="rup2">Подождите.....</div>
            <div class="modal-header">
              <input type="submit" value="Применить" />
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Закрыть
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="library.js?new"></script>
  </body>
</html>
